.container-card_pricing{
	position: absolute;
	bottom: 0px;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70px;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 10px;
	color: antiquewhite;
	font-family: Calibri;
}

.title-card_pricing{
	margin-bottom: 3px;
}

.value-card_pricing{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.valueConsole-card_pricing{
	display: flex;
	flex-direction: row;
}

.valueConsole-card_pricing > span{
	font-weight: bolder;
	color: aqua;
	margin-right: 5px;
}
